@{
    ViewData["Title"] = "Home";
}

<div class="text-center rounded" style="border:solid;">
    <h1 class="display-4" style="padding-top: 0.5em; ">Basketball League</h1>
    <div class="text-box" style="width: 75%; margin:auto;">
        <h3 style="padding-top: 2em; font-weight:bold">Homepage of the most interesting basketball games for the season.</h3>
        <h3 style="padding-top: 2em; font-weight:bold">Find everything related to the matches, teams, scores and the players.</h3>
        <h3 style="padding-top: 2em; padding-bottom: 1em; font-weight:bold">Do not forget to support your favorite team and enjoy the game!</h3>
    </div>
</div>